<h1>Профиль пользователя</h1>
<p>Имя: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>

<% if @user == current_user %>
  <section class="note_form">
    <%= render 'shared/note_form' %>
  </section>
<% end %> <%# Добавил этот закрывающий тег %>

<div class="col-md-8">
  <% if @user.notes.any? %>
    <h3>Заметки (<%= @user.notes.count %>)</h3>
    <ol class="notes">
      <% @notes.each do |note| %>
        <li>
          <span class="content"><%= note.content %></span>
          <span class="timestamp">
            Опубликовано <%= time_ago_in_words(note.created_at) %> назад.
          </span>
        </li>
      <% end %>
    </ol>
  <% end %>
</div>